.player-container {
  height: 100vh;
  postion: relative;
  display: flex;
  height: 2rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  align-items: center;
  background-color: #383d6e;
  justify-content: space-between;
}

.player-name,
.player-input {
  flex: 1;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.player-input {
  border: none;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.add-player-btn {
  postion: absolute;
  height: 2rem;
  left: 1rem;
  bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #6B59FC;
  width: 100%;
  margin-top: .5rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.player-btn {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 0.5rem;
}

.success {
  background-color: #4CAE51;
}

.cancel {
  background-color: #D65151;
}

.edit {
  background-color: #695AFE;
}

.primary {
  background-color: #6B59FC;
}


@media screen and (min-width: 768px) {

  .player-container {
    max-width: 500px;
    margin: .5rem auto;
  }
  .add-player-btn {
    max-width: 200px;
  }
}